## Deliverable 2. Create a Customer Travel Destinations Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tasiilaq,GL,65.6145,-37.6368,30.36,54,2,5.08,clear sky
1,1,Louis Trichardt,ZA,-23.0439,29.9032,74.05,62,94,5.08,overcast clouds
2,2,Ponta Do Sol,PT,32.6667,-17.1000,72.72,84,18,8.30,few clouds
3,3,Manzhouli,CN,49.6000,117.4333,-16.44,90,8,4.36,clear sky
4,4,Lagoa,PT,39.0500,-27.9833,59.94,61,78,30.13,broken clouds

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 65
What is your desired maximum temperature for your trip? 90

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Louis Trichardt,ZA,-23.0439,29.9032,74.05,62,94,5.08,overcast clouds
2,2,Ponta Do Sol,PT,32.6667,-17.1000,72.72,84,18,8.30,few clouds
7,7,Anuradhapura,LK,8.3565,80.4173,70.16,90,50,4.92,scattered clouds
9,9,Trairi,BR,-3.2778,-39.2689,87.85,58,25,14.45,scattered clouds
15,15,Constitucion,CL,-35.3333,-72.4167,69.96,56,5,6.60,clear sky
...,...,...,...,...,...,...,...,...,...,...
703,703,Camacha,PT,33.0833,-16.3333,67.53,83,40,11.50,scattered clouds
705,705,Aracati,BR,-4.5617,-37.7697,89.62,52,13,14.83,few clouds
706,706,Huarmey,PE,-10.0681,-78.1522,73.98,72,8,10.18,clear sky
712,712,Nileshwar,IN,12.2500,75.1000,76.95,77,5,3.69,clear sky
713,713,Olinda,BR,-8.0089,-34.8553,85.73,66,75,9.22,broken clouds

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Louis Trichardt,ZA,-23.0439,29.9032,74.05,62,94,5.08,overcast clouds
2,2,Ponta Do Sol,PT,32.6667,-17.1000,72.72,84,18,8.30,few clouds
7,7,Anuradhapura,LK,8.3565,80.4173,70.16,90,50,4.92,scattered clouds
9,9,Trairi,BR,-3.2778,-39.2689,87.85,58,25,14.45,scattered clouds
15,15,Constitucion,CL,-35.3333,-72.4167,69.96,56,5,6.60,clear sky
...,...,...,...,...,...,...,...,...,...,...
703,703,Camacha,PT,33.0833,-16.3333,67.53,83,40,11.50,scattered clouds
705,705,Aracati,BR,-4.5617,-37.7697,89.62,52,13,14.83,few clouds
706,706,Huarmey,PE,-10.0681,-78.1522,73.98,72,8,10.18,clear sky
712,712,Nileshwar,IN,12.2500,75.1000,76.95,77,5,3.69,clear sky
713,713,Olinda,BR,-8.0089,-34.8553,85.73,66,75,9.22,broken clouds

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Louis Trichardt,ZA,74.05,overcast clouds,-23.0439,29.9032,
2,Ponta Do Sol,PT,72.72,few clouds,32.6667,-17.1000,
7,Anuradhapura,LK,70.16,scattered clouds,8.3565,80.4173,
9,Trairi,BR,87.85,scattered clouds,-3.2778,-39.2689,
15,Constitucion,CL,69.96,clear sky,-35.3333,-72.4167,
18,Atuona,PF,78.53,light rain,-9.8000,-139.0333,
19,Nouakchott,MR,89.53,broken clouds,18.0858,-15.9785,
27,Soyo,AO,86.05,light rain,-6.1349,12.3689,
28,Johi,PK,68.63,clear sky,26.6921,67.6133,
29,Sur,OM,73.33,few clouds,22.5667,59.5289,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Louis Trichardt,ZA,74.05,overcast clouds,-23.0439,29.9032,139 on Munnik Guest House
2,Ponta Do Sol,PT,72.72,few clouds,32.6667,-17.1000,Hotel do Campo
7,Anuradhapura,LK,70.16,scattered clouds,8.3565,80.4173,Nilketha Villa Eco Hotel
9,Trairi,BR,87.85,scattered clouds,-3.2778,-39.2689,janelas do mar
15,Constitucion,CL,69.96,clear sky,-35.3333,-72.4167,Hotel Boutique Las Azucenas
...,...,...,...,...,...,...,...
703,Camacha,PT,67.53,scattered clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
705,Aracati,BR,89.62,few clouds,-4.5617,-37.7697,Motel Pousada Milleniun - Aracati-CE
706,Huarmey,PE,73.98,clear sky,-10.0681,-78.1522,Hotel Miramar
712,Nileshwar,IN,76.95,clear sky,12.2500,75.1000,Neeleshwar Hermitage
713,Olinda,BR,85.73,broken clouds,-8.0089,-34.8553,Hotel Albergue de Olinda

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))